@import url('./assets/stylesheets/utilities.css');

.main-wrapper {
  grid-template-columns: 300px auto 300px;
  gap: 40px;
  padding: 26px;
}

.main-content {
  max-width: 100%;
}

.profile-image {
  overflow: hidden;
  height: 260px;
  background-color: #ccc;
  border-radius: 10px;
}

.profile-image img {
  width: 100%;
}

.main-navigation .nav-links {
  display: flex;
  flex-direction: column;
}

.social-links a { 
  margin: 2px 5px;
  display: inline-block;
}

.social-links a:before {
  content: '#';
}

.main-navigation a {
  padding: 10px;
  margin-bottom: 4px;
  border-radius: 4px;
  color: #333;
  background-color: #eee;
}

.main-navigation a:hover {
  background-color: #ccc;
}