@import url('./assets/stylesheets/utilities.css');

.main-wrapper {
  grid-template-columns: 300px auto 300px;
  gap: 40px;
  padding: 26px;
}

.main-content {
  max-width: 100%;
}

.profile-image {
  overflow: hidden;
  height: 260px;
  background-color: #ccc;
  border-radius: 10px;
}

.profile-image img {
  width: 100%;
}

.main-navigation .nav-links {
  display: flex;
  flex-direction: column;
}

.social-links a { 
  margin: 2px 5px;
  display: inline-block;
}

.social-links a:before {
  content: '#';
}

.main-navigation a {
  padding: 10px;
  margin-bottom: 4px;
  border-radius: 4px;
  color: #333;
  background-color: #eee;
}

.main-navigation a:hover {
  background-color: #ccc;
}

.project footer {
  font-size: 0.8em;
}

/** Breakpoints ******************/
@media (max-width: 1499px) {
  .main-wrapper { gap: 10px;}
}

@media (max-width: 1299px) {
  .main-wrapper {
    grid-template-columns: 300px auto;
    grid-template-rows: auto 1fr;
    padding-right: 0;
  }

  .main-header {
    grid-row: 1/-1;
  }

  .main-aside {
    grid-row: 1/1;
    padding: 0 16px;
  }

  .main-aside h2 {
    display: none;
  }
}

@media (max-width: 999px) {
  .main-wrapper {
    grid-template-columns: 270px auto;
    padding: 0;
  }

  .main-header {
    border-radius: 0;
  }

  .main-aside {
    padding-top: 10px;
  }

  .profile-image {
    height: 225px;
  }
}

@media (max-width: 799px) {
  .main-wrapper {
    padding: 10px;
    grid-template-columns: 150px auto;
    gap: 0;
  }

  .mobile-header {
    grid-row: 1/2;
    padding: 0;
    padding-right: 10px;
    margin-bottom: 10px;
    background: none;
    box-shadow: none;
  }

  .mobile-header .profile-image {
    height: 140px;
  }

  .profile-mobile-info {
    display: none;
  }

  .main-aside {
    padding: 0;
  }

  .main-content {
    grid-column: 1/-1;
    padding: 0;
  }

  .filter-by-date-placeholder div {
    margin-bottom: 2px;
  }

  input[type="text"], 
  input[type="date"] {
    padding: 6px;
  }
}